#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #4154f1;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #4154f1;
    color: #fff;
    text-decoration: none;
}